
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgb(78, 9, 143); 
  color: black;
}

.button1:hover {
  background-color: #3712bd;
  color: white;
}

#info-text {
  border: 0px solid;
  border-radius: 18%;
  border-color: rgb(14, 151, 144);
  background-color: rgba(0, 0, 0, 0.595);
  background-size: contain;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  padding-top: 4%;
}