nav {
    border:6px solid rgb(3, 32, 195);
    border-radius: 5px;
}
a {
    text-shadow: 3px 3px #0000006a;
    transition: 0.5s;
}
a:hover {
    text-size-adjust: +10px;
    text-shadow: +5px +5px #0000003b;
    transition: 0.5s;
}