
#info-box {
    border: 1px solid;
    background-image: url('../Pictures/Info-Box\ Background.jpg');background-repeat: no-repeat; background-size:cover;
}
#info-text {
    border: 0px solid;
    border-style: hidden;
}
.video-container{
    width: 100vw;
    height: 100vh;
  }
      
  iframe {
    position:fixed;

    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }